In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service as ChromeService
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36'
}

cookies = {
    'cookie_name': 'cookie_value'
}

# Semana 1

In [3]:
# Especifica la ubicación del controlador de Chrome (chromedriver.exe)
chromedriver_path = 'chromedriver.exe'

# Configura el servicio de Chrome con el argumento executable_path
chrome_service = ChromeService(executable_path=chromedriver_path)

# Crea una instancia del navegador Chrome con el servicio configurado
driver = webdriver.Chrome(service=chrome_service)

# Abre la página web
url = 'https://web.archive.org/web/20230912201251/https://www.espn.com/nfl/stats/team'
driver.get(url)

# Espera a que la tabla esté presente en la página
wait = WebDriverWait(driver, 10)
tabla_presente = EC.presence_of_element_located((By.CSS_SELECTOR, '.Table.Table--align-right.Table--fixed.Table--fixed-left'))
tabla = wait.until(tabla_presente)

# Obtén el contenido HTML de la ta bla
tabla_html = tabla.get_attribute('outerHTML')

# Utiliza BeautifulSoup para analizar el contenido HTML
soup = BeautifulSoup(tabla_html, 'html.parser')

# Encuentra todas las filas de la tabla
filas = soup.find_all('tr')

# Inicializa una lista para almacenar los datos
datos = []

# Recorre las filas y obtén los datos de cada celda
for fila in filas:
    celdas = fila.find_all('td')
    if celdas:  # Verifica si hay al menos una celda de datos en la fila
        fila_datos = [celda.text.strip() for celda in celdas]
        datos.append(fila_datos)

# Crea un DataFrame de Pandas con los datos filtrados
columnas = ['Equipo']  # Reemplaza con el nombre de tu columna
dfoffsem1 = pd.DataFrame(datos, columns=columnas)


# Cierra el navegador
driver.quit()

In [4]:
dfoffsem1

                   Equipo
0          Miami Dolphins
1    Los Angeles Chargers
2        Los Angeles Rams
3     San Francisco 49ers
4    New England Patriots
5       Minnesota Vikings
6           Detroit Lions
7      New Orleans Saints
8        Cleveland Browns
9    Jacksonville Jaguars
10      Green Bay Packers
11     Kansas City Chiefs
12          Buffalo Bills
13          Chicago Bears
14          New York Jets
15       Tennessee Titans
16      Carolina Panthers
17     Indianapolis Colts
18         Houston Texans
19         Dallas Cowboys
20       Baltimore Ravens
21      Las Vegas Raiders
22         Denver Broncos
23    Philadelphia Eagles
24  Washington Commanders
25   Tampa Bay Buccaneers
26    Pittsburgh Steelers
27        Atlanta Falcons
28      Arizona Cardinals
29       Seattle Seahawks
30        New York Giants
31     Cincinnati Bengals

In [105]:
urloffsem1 = "https://web.archive.org/web/20230912201251/https://www.espn.com/nfl/stats/team"

In [106]:
roffsem1 = requests.get(urloffsem1, cookies=cookies, headers=headers)
html_contentsoffsem1 = roffsem1.text

In [107]:
html_soupoffsem1 = BeautifulSoup(html_contentsoffsem1, 'html.parser')

In [108]:
tabla_puntajeoffsem1 = html_soupoffsem1.find_all('table', class_='Table Table--align-right')

In [109]:
columnasoffsem1 =  ['GP','YDS','YDS/G','YDS','YDS/G',
             'YDS','YDS/G','PTS','PTS/G',]

In [111]:
infoffsem1 = pd.DataFrame(columns = columnasoffsem1)

In [112]:
for table in tabla_puntajeoffsem1:
    for row in table.find_all('tr')[2:]:
        values = []
        for col in row.find_all(['th','td']):
            values.append(col.text)
        if len(values) == len(columnasoffsem1):
            infoffsem1.loc[len(infoffsem1)] = values

In [113]:
infoffsem1

   GP  YDS  YDS/G  YDS  YDS/G  YDS  YDS/G PTS PTS/G
0   1  536  536.0  466  466.0   70   70.0  36  36.0
1   1  433  433.0  199  199.0  234  234.0  34  34.0
2   1  426  426.0  334  334.0   92   92.0  30  30.0
3   1  391  391.0  203  203.0  188  188.0  30  30.0
4   1  382  382.0  306  306.0   76   76.0  20  20.0
5   1  369  369.0  328  328.0   41   41.0  17  17.0
6   1  368  368.0  250  250.0  118  118.0  21  21.0
7   1  351  351.0  282  282.0   69   69.0  16  16.0
8   1  350  350.0  144  144.0  206  206.0  24  24.0
9   1  342  342.0  237  237.0  105  105.0  31  31.0
10  1  329  329.0  237  237.0   92   92.0  38  38.0
11  1  316  316.0  226  226.0   90   90.0  20  20.0
12  1  314  314.0  217  217.0   97   97.0  16  16.0
13  1  311  311.0  189  189.0  122  122.0  20  20.0
14  1  289  289.0  117  117.0  172  172.0  22  22.0
15  1  285  285.0  181  181.0  104  104.0  15  15.0
16  1  281  281.0  127  127.0  154  154.0  10  10.0
17  1  280  280.0  215  215.0   65   65.0  21  21.0
18  1  268  268.0  196  196.0   72   72.0   9   9.0
19  1  265  265.0  143  143.0  122  122.0  40  40.0
20  1  265  265.0  155  155.0  110  110.0  25  25.0
21  1  261  261.0  200  200.0   61   61.0  17  17.0
22  1  260  260.0  166  166.0   94   94.0  16  16.0
23  1  251  251.0  154  154.0   97   97.0  25  25.0
24  1  248  248.0  156  156.0   92   92.0  20  20.0
25  1  242  242.0  169  169.0   73   73.0  20  20.0
26  1  239  239.0  198  198.0   41   41.0   7   7.0
27  1  221  221.0   91   91.0  130  130.0  24  24.0
28  1  210  210.0  114  114.0   96   96.0  16  16.0
29  1  180  180.0   95   95.0   85   85.0  13  13.0
30  1  171  171.0   63   63.0  108  108.0   0   0.0
31  1  142  142.0   67   67.0   75   75.0   3   3.0

In [114]:
columnsUnid = pd.concat([dfoffsem1,infoffsem1], axis=1)

In [115]:
columnsUnid

                   Equipo GP  YDS  YDS/G  YDS  YDS/G  YDS  YDS/G PTS PTS/G
0          Miami Dolphins  1  536  536.0  466  466.0   70   70.0  36  36.0
1    Los Angeles Chargers  1  433  433.0  199  199.0  234  234.0  34  34.0
2        Los Angeles Rams  1  426  426.0  334  334.0   92   92.0  30  30.0
3     San Francisco 49ers  1  391  391.0  203  203.0  188  188.0  30  30.0
4    New England Patriots  1  382  382.0  306  306.0   76   76.0  20  20.0
5       Minnesota Vikings  1  369  369.0  328  328.0   41   41.0  17  17.0
6           Detroit Lions  1  368  368.0  250  250.0  118  118.0  21  21.0
7      New Orleans Saints  1  351  351.0  282  282.0   69   69.0  16  16.0
8        Cleveland Browns  1  350  350.0  144  144.0  206  206.0  24  24.0
9    Jacksonville Jaguars  1  342  342.0  237  237.0  105  105.0  31  31.0
10      Green Bay Packers  1  329  329.0  237  237.0   92   92.0  38  38.0
11     Kansas City Chiefs  1  316  316.0  226  226.0   90   90.0  20  20.0
12          Buffalo Bills  1  314  314.0  217  217.0   97   97.0  16  16.0
13          Chicago Bears  1  311  311.0  189  189.0  122  122.0  20  20.0
14          New York Jets  1  289  289.0  117  117.0  172  172.0  22  22.0
15       Tennessee Titans  1  285  285.0  181  181.0  104  104.0  15  15.0
16      Carolina Panthers  1  281  281.0  127  127.0  154  154.0  10  10.0
17     Indianapolis Colts  1  280  280.0  215  215.0   65   65.0  21  21.0
18         Houston Texans  1  268  268.0  196  196.0   72   72.0   9   9.0
19         Dallas Cowboys  1  265  265.0  143  143.0  122  122.0  40  40.0
20       Baltimore Ravens  1  265  265.0  155  155.0  110  110.0  25  25.0
21      Las Vegas Raiders  1  261  261.0  200  200.0   61   61.0  17  17.0
22         Denver Broncos  1  260  260.0  166  166.0   94   94.0  16  16.0
23    Philadelphia Eagles  1  251  251.0  154  154.0   97   97.0  25  25.0
24  Washington Commanders  1  248  248.0  156  156.0   92   92.0  20  20.0
25   Tampa Bay Buccaneers  1  242  242.0  169  169.0   73   73.0  20  20.0
26    Pittsburgh Steelers  1  239  239.0  198  198.0   41   41.0   7   7.0
27        Atlanta Falcons  1  221  221.0   91   91.0  130  130.0  24  24.0
28      Arizona Cardinals  1  210  210.0  114  114.0   96   96.0  16  16.0
29       Seattle Seahawks  1  180  180.0   95   95.0   85   85.0  13  13.0
30        New York Giants  1  171  171.0   63   63.0  108  108.0   0   0.0
31     Cincinnati Bengals  1  142  142.0   67   67.0   75   75.0   3   3.0

In [116]:
columnsUnid.to_excel('Export\\Ofensemana1ESPN.xlsx')